<!DOCTYPE html>
<html>
<body>

    <form id="feedbackform" method="post">
        First name:
        <input type="text" name="firstname" value="">
        <br>
        Last name:
        <input type="text" name="lastname" value="">
        <br>
        Email:
        <input type="email" name="email" value="<%= email %>">
        <br>
        Favorite Color:
        <input type="color" name="color" value=#00000 />
        <br>
        Your comments:
        <textarea rows="6" cols="50">

</textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
