<!DOCTYPE html>

<html lang="en" xmlns="http:www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Feedback</title>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../public/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/feedback" method="post" class="form-horizontal">
        <div class="row" align="center">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <h1> We are glad to have your feedback <%=userFullName%> </h1>
                <div class="form-group">
                    <label for="comments" class="col-sim-2 control-label">Your Feedback:</label>
                </div>
                <div class="form-group">
                    <textarea rows="6" cols="50" name="comments"></textarea>
                </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
    </form>
</body>
</html>
