<!DOCTYPE html>

<html xmlns="http:www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title></title>
</head>
<body>
	<form method="post">
        <label>User Name:</label>
		<input type ="test" placeholder="Enter your user name or email" name="email"/> <br/>
        <label>Password:</label>
        <input typeof="password" /><br/>
        <input typeof="submit" value="Submit" name="submit" />
    </form>
</body>