<!DOCTYPE html>

<html lang="en" xmlns="http:www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="../../public/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- If a user is authenticated, display the user's full name , otherwise display the authentication links -->    
    <div class="container " align="center">
        <% if ( userFullName ) { %>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>Hello <%=userFullName%> </h2>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <a href="/signout">Sign out</a>
            </div>
            <div class="col-sm"></div>
        </div>
        <% } else { %>
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
        </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <a href="/signup" class="btn btn-primary">Sign up</a>
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <a href="/signin" class="btn btn-success">Sign in</a>
                </div>
                <div class="col-sm"></div>
            </div>
            <% } %>
        </div>
</body>
</html>