<!DOCTYPE html>

<html lang="en" xmlns="http:www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="../../public/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- If a user is authenticated, display the user's full name , otherwise display the authentication links -->    
    <div class="container " align="center">
        <% if ( userFullName ) { %>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>Hello <span class="fas fa-user-alt"></span> <%=userFullName%> </h2>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <a href="/signout" class="btn btn-dark"> <span class="fas fa-key"></span> Sign out</a>
            </div>
            <div class="col-sm"></div>
        </div>
        <% } else { %>
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
        </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <a href="/signup" class="btn btn-primary">Sign up</a>
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <a href="/signin" class="btn btn-success">Sign in</a>
                </div>
                <div class="col-sm"></div>
            </div>
            <% } %>
        </div>
</body>
</html>