<!DOCTYPE html>

<html lang="en" xmlns="http:www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Feedback</title>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">-->
    <script src="../../public/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<html>
<body>
    <div class="row" align="center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 jumbotron"><h1>Thank You</h1></div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>
